.ctn{
  width: 100%;
  background: #042254;
}

.wrp{
  width: 100%;
  max-width: 1100px;
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.wrp h1{
  font-size: 2.3rem;
  font-weight: 200;
  color: rgb(255, 241, 255);
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact{
  display: flex;
  align-items: center;
  gap: 20px;
  color: rgb(255, 241, 255);
}

.contact a{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact a:hover{
  background: #f4dcff;
}

.contact a svg{
  fill: #042254;
  font-size: 1.6rem;
}

.contacts h2{
  font-size: 1.4rem;
  font-weight: 200;
  color: #f4dcff;
}



@media screen and (max-width: 900px) {
.wrp{
  padding: 50px 10px;
}

.wrp h1{
  font-size: 1.3rem;
}
}