.ctn{
  width: 100%;
  background: #042254;
}

.wrp{
  width: 100%;
  max-width: 1100px;
  padding: 100px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.heading{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right{
  width: 500px;
}

.right h1{
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: 8px;
  color: #fcf5ff;
  margin-bottom: 30px;
  position: relative;
}

.right h1::after{
  content: '';
  position: absolute;
  top: -3px;
  left: 5px;
  width: 45px;
  height: 4px;
  background-color: #00B35F;
  transition: all 0.3s ease;
  border-radius: 4px;
}

.right h1 span{
  color: #042254;
}

.right h2{
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: -1px;
  color: #cbc2cf;
  margin-bottom: 30px;
}

.left img{
  border-radius: 20px;
}


.cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.card{
  width: 300px;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.card:hover{
  transform: scale(1.05);
}

.card h3{
  font-size: 2rem;
  font-weight: 150;
  letter-spacing: 4px;
  margin-bottom: 7px;
  color: #faefff;
}

.card p{
  font-size: 1rem;
  font-weight: 100;
  color: #faefff;
}


@media screen and (max-width: 900px){
.wrp{
  padding: 50px 10px;
}

.heading{
  flex-direction: column;
  gap: 50px;
}

.right{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;margin-bottom: 150px;
}

.right h1{
  width: fit-content;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: -1px;
}

.right h2{
  font-size: 1.1rem;
  line-height: 1.3;
  letter-spacing: 1px;
  font-weight: 250;
}

.left{
  width: 100%;
  text-align: center;
}

.left img{
  width: 100%;
}

.cards{
  justify-content: center;
  margin: 70px 0;
  display: none;
}
/* 
.card{
  width: 100%;
  text-align: center;
}

.card h3{
  font-size: 1.5rem;
  letter-spacing: -1px;
  font-weight: 300;
} */
}