:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgb(255, 241, 255);
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
  text-align: center;
}

img{
  height: auto;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}



/* button styling */
.bigBtn{
  width: 250px;
  background-image: linear-gradient(90deg, #00b35f 0%, #00ac5c 50%, #00b35f 100%);
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  transition: all ease-out .3s;
  transition-delay: .1s;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.bigBtn::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #232324;
  transform: scaleX(0);
  transform-origin: 0;
  transition: all ease-in-out .3s;
  z-index: -1;
}

.bigBtn:hover,
.bigBtn:focus{
  color: #ffffff;
}

.bigBtn:hover:before,
.bigBtn:focus:before{
  transform: scaleX(1);
}

.bigBtn.full{
  width: 100%;
}

.load{
  padding: 16px;
}

.heroBtn{
  width: 350px;
  padding: 22px;
  background: #042254;
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  transition: all ease-out .3s;
  transition-delay: .1s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 10px;
}

.heroBtn::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #00b35f;
  transform: scaleX(0);
  transform-origin: 1;
  transition: all ease-in-out .3s;
  z-index: -1;
  border-radius: 10px;
}

.reverseBtn{
  background: #00b35f;
}

.reverseBtn:hover{
  background: #042254;
}

.heroBtn:hover,
.heroBtn:focus{
  color: #ffffff;
}

.heroBtn:hover:before,
.heroBtn:focus:before{
  transform: scaleX(1);
}


/* form styling */

.formCtn{
  min-height: 100vh;
  padding: 100px 0 20px 0;
  display: grid;
  place-items: center;
}

.form{
  width: 450px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 20px;
  padding: 10px;
}

.form h1, .form h2{
  font-size: 3.5rem;
  color: #232324;
  font-weight: 300;
  text-align: center;
}

.form h2{
  font-size: 2rem;
}

.form .MuiFormControl-root div{
  border-radius: 10px !important;
}

.formError{
  display: block;
  width: 100%;
  color: rgb(247, 45, 45);
  background-color: rgba(255, 0, 0, 0.05);
  padding: 10px;
  border-radius: 12px;
  border-left: 2px solid rgb(247, 45, 45);
  font-size: 0.9rem;
  word-wrap: break-word;
}

.formSuccess{
  display: block;
  width: 100%;
  color: rgb(60, 188, 0);
  background-color: rgba(0, 255, 60, 0.06);
  padding: 10px;
  border-radius: 12px;
  border-left: 2px solid rgb(13, 255, 0);
  font-size: 0.9rem;
  word-wrap: break-word;
}

.spin{
  animation: spin 1s linear infinite;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 600px){
.formCtn{
  place-items: start;
}

.form{
  width: 100%;
  box-shadow: none;
}

.form.left h1{
  text-align: left;
}

.heroBtn{
  width: 200px;
  padding: 21px;
}
  
}

@media screen and (max-width: 360px){
.form h1{
  font-size: 8vw;
}
}